__pycache__

# Distribution / packaging
build/
dist/
*.egg-info/

# binaries
*.so
*.err
*.out
*.log
# tmp files
*.swp

# AML workspace config file
config.json

.coverage_*
*~
slurm*
logs

# Data folder
bookcorpus_data/
users/
dataset/

model/
ohto-shell/llama-cpt/dl_hf_llama.py
ohto-shell/model_convert/modeling_modernbert.py

tools/convert_checkpoint/modern_bert_converter.py
tools/convert_checkpoint/modern_bert_converter_bin.py
